BeautifulSoup==3.2.1
Django==1.8.5
amqp==1.4.7
beautifulsoup4==4.4.1
celery==3.1.18
django-celery==3.1.17
gunicorn==19.3.0
mailtools==2.1
oauthlib==0.6.1
psycopg2==2.6.1
supervisor==3.0b2
urllib3==1.24.2
wsgiref==0.1.2
yagmail==0.4.114
